.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.keys{
  text-align: left;
}
.key {
  text-align: center;
  width: 70px;
  height: 70px;
  display: inline-block;
  border: 1px solid #000;
  margin:5px;
  font-size: 12px;
}
.wrap {
  display: inline-block;
}
.separador {
  width: 170px;
  display: inline-block;  
  margin:5px;
}

#left_keys{
  display: inline-block; 
}
#right_keys{
  display: inline-block; 
}